<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> {% block title %} {% endblock %} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <style> {% block css %} {% endblock %} </style>
</head>
<body>
{% include 'navbar.html' %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
            </div>
            {% endfor %}
    {% endif %}
{% endwith %}
{% block body %}
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/navigate_vote.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>
