{% set post,votes = content %}
{% block title %} {{ post.title }} {% endblock %}
{% extends "base.html" %}

{% block body %}
{% from "macros/_render_post.html" import render_post with context %}

<div class="link_wrapper">
    {{ render_post(post=post,voters=votes,comments=comments) }}
</div>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/comment_reply.js') }}"></script>
<script src="{{ url_for('static', filename='js/comment_collapse.js') }}"></script>
{% endblock %}
