<h1> Register </h1>
<form class="form-horizontal" method="POST" action='/register'>
      <div class="control-group">
          <label class="control-label" for="inputUsername">Username</label>
          <div class="controls">
              <input name="username" type="text" id="inputUsername" placeholder="UserName">
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
              <input name="password" type="password" id="inputPassword" placeholder="Password">
          </div>
     </div>
     <div class="control-group">
          <label class="control-label" for="inputConfirm">Confirm Password</label>
          <div class="controls">
              <input type="password" id="inputConfirm" placeholder="Confirm Password">
          </div>
     </div>
     <div class="control-group">
         <div class="controls">
             <button type="submit" class="btn">Register</button>
         </div>
      </div>
</form>
