<div>
    <form class="form-horizontal" method="POST" action='/post/'>
        <h1> Submit </h1>
        <div class="control-group">
            <label class="control-label" for="inputTitle">Title</label>
            <div class="controls">
                <input name="title" type="text" id="inputTitle" placeholder="Title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLink">Link</label>
            <div class="controls">
                <input name="link" type="text" id="inputLink" placeholder="Link">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
                <textarea name="description" id="inputDescription" rows="5" placeholder="Add some details"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
</div>
